{
  "env": {
    "development": {
      "presets": [
        [
          "@babel/preset-env",
          {
            "targets": {
              "chrome": "63"
            },
            "useBuiltIns": false
          }
        ]
      ],
      "plugins": [
        "istanbul"
      ]
    },
    "production": {
      "presets": [
        [
          "@babel/preset-env",
          {
            "targets": {
              "chrome": "63"
            },
            "useBuiltIns": false
          }
        ]
      ],
      "plugins": [
        "istanbul"
      ]
    }
  }
}
