{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "env": {
    "mocha": true
  },
  "rules": {
    "comma-dangle": [
      "error",
      "only-multiline"
    ],
    "no-use-before-define": "off",
    "consistent-return": "off",
    "import/prefer-default-export": "off",
    "no-param-reassign": "off",
    "padded-blocks": "off",
    "object-curly-newline": "off",
    "max-len": "off",
    "no-else-return": "off",
    "prefer-const": "off"
  }
}
