{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "env": {
    "mocha": true
  },
  "rules": {
    "comma-dangle": [
      "error",
      "only-multiline"
    ],
    "no-use-before-define": "off",
    "consistent-return": "off"
  }
}
